<h1>Listagem de médico</h1>
<table mat-table [dataSource]="medicosTable" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let medico"> {{medico._id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let medico"> {{medico.nome}} </td>
    </ng-container>
    <ng-container matColumnDef="CRM">
        <th mat-header-cell *matHeaderCellDef> CRM </th>
        <td mat-cell *matCellDef="let medico"> {{medico.CRM}} </td>
    </ng-container>
    <ng-container matColumnDef="especialidade">
        <th mat-header-cell *matHeaderCellDef> Especialidade </th>
        <td mat-cell *matCellDef="let medico"> {{medico.especialidade}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="medicoColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: medicoColumns;"></tr>
</table>
<button (click)="navigateCadastro()" mat-raised-button color="primary">Ir para cadastro</button>